.container {
  max-width: 600px;
  border: 2px solid #0062cc;
  border-radius: 1.5rem;
  margin-bottom: 80px;
  padding: 0 20px;
}
.header {
  margin-bottom: 40px;
}
.b-textfield_error {
  -webkit-box-shadow: 0 0 2px red;
  box-shadow: 0 0 2px red;
}

.b-form__message {
  border: 1px solid;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
  display: none;
}
.btn {
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #0062cc;
  color: #fff;
}
.b-form__message_error {
  background: none repeat scroll 0 0 #ff0000;
  border-color: #e30000;
  color: #ffffff;
}

input:required:focus:invalid {
  border: 2px dashed red;
}
input:required:focus:valid {
  border: 2px solid green;
}
.error {
  border-color: red;
}

.error-message {
  color: red;
  font-style: italic;
  margin-bottom: 1em;
}
