.b-textfield_error {
  -webkit-box-shadow: 0 0 2px red;
  box-shadow: 0 0 2px red;
}

.b-form__message {
  border: 1px solid;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
  display: none;
}
.b-form__message_error {
  background: none repeat scroll 0 0 #ff0000;
  border-color: #e30000;
  color: #ffffff;
}

input:required:focus:invalid {
  border: 2px dashed red;
}
input:required:focus:valid {
  border: 2px solid green;
}
.error {
    border-color: red;
}

.error-message {
    color: red;
    font-style: italic;
    margin-bottom: 1em;
}